:root {
    --button_unhover_color:black;
    --button_hover_color:#00b7ff;
}

.topbar {
    background-color:#bfbfbf;
    max-height: 75px;
}

.topbar_icon {
    background-color: transparent;

    height:40px;

    padding: 3px;
}

img:before {
    background-color: red;
}

.topbar_btns {
    padding: 1px;
    display: inline;
}

a {
    color:var(--button_unhover_color);
    text-decoration:none;
}

.topbar_btn {
    padding-left: 10px;
}

.topbar_btn:hover {
    color:var(--button_hover_color);
    transition:color 0.15s ease-in;
}

.topbar_btn:not(:hover) {
    color:var(--button_unhover_color);
    transition:color 0.15s ease-out;
}

.topbar_btn_first {
    padding-left: 5px;
}

